.restaurant-container {
    background-color: #ffffff; /* เปลี่ยนสีพื้นหลังเป็นสีขาว */
    border: 2px solid #040F0F; /* เพิ่มกรอบ */
    border-radius: 5px;
    padding: 100px;
    margin: 20px;
    width: 1000px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto; /* จัดให้อยู่กึ่งกลางในแนวนอน */
}


.restaurant-container h2 {
    margin-bottom: 20px;
}

.restaurant-container p {
    margin-bottom: 10px;
}

/* Restaurant.css */
.button-container {
    margin-top: 20px;
}

.button-container button {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #8b8384;
}

.button-container button:focus {
    outline: none;
}
